*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: auto;
    background-color: hsl(275, 100%, 97%);
   padding-top: 10vh;
   padding-bottom: 10vh;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    font-family: "Work Sans", sans-serif;
    font-size: 15px;
}
header{
    height: 70vw;
    max-height: 40vh;
    width:100%;
    background-image: url(assets/images/background-pattern-desktop.svg);
  position: fixed;
  top:0;
  left:0;
  z-index:-1;
  background-size: cover;

}
.container{
    width: 40%;
    height: fit-content;
    min-width: 320px;
    background-color:white;
    padding: 30px;
    border-radius: 15px;
    color: hsl(292, 42%, 14%);
}
.head{
    display:flex;
    justify-content: flex-start;
    margin: 20px 0;
    gap:10px;
    font-size: 30px;
}
#faqList{
    list-style-type: none;
    display:flex;
    flex-direction:column;
    gap:20px;
    
}

.q{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:  15px;
}
.btn{
    background:none;
    border:none;  
}

.ans{
    /* display:none; */
    max-height:0px;
    color: hsl(292, 16%, 49%);
    overflow:hidden;
    transition: all 300ms cubic-bezier(0.61,-0.01, 0.78, 0.58);
}
.show .ans{
    /* display:block; */
    max-height: 100px;
}

hr{
    border:none;
    height: 0;
    background-color: rgba(196, 196, 196, 0.401);
    margin: 10px 0;
    box-shadow: 0 0   1px 0.5px rgba(210, 210, 210, 0.401);
}

@media (max-width: 400px) {
    header{
        background-image: url(assets/images/background-pattern-mobile.svg);
    }
}